<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All the cats</title>
</head>

<body>
    <nav>
        <a href="/">Mostrar imágenes</a>
        <a href="/add-img">Añadir imagen</a>

    </nav>

    <form class="w3-container" action="anadir-foto" method="POST">
        <p>
          <label>Título</label>
          <input class="w3-input w3-hover-light-blue" type="text" name="titulo" maxlength="10" pattern="[A-Za-z0-9_]*" required="">
        </p>
        <p>   
          <label>Url de la imagen</label>
          <input class="w3-input w3-hover-light-blue" type="url" name="url" required="">
        </p>
        <p>
          <input class="w3-input w3-hover-light-blue" type="date" name="fecha" required="">
          </p><div class="w3-center">
            <input type="submit" style="font-size:24px">Envía</input>
          </div>
        <p></p>
      </form>

</body>

</html>