<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All the cats</title>
</head>

<body>
    <nav>
        <a href="/">Mostrar imágenes</a>
        <a href="/add-img">Añadir imagen</a>

    </nav>
    <div>
       <h1> holaaaa</h1>
        <h1>List of images</h1>
            </h3>
          
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% photos.forEach( (photo)=> { %>
                            <tr>

                                <td>
                                    <%= photo.titulo %>
                                </td>
                                <td>
                                    <img src=<%= photo.url %>/>
                                </td>
                                <td>
                                    <%= photo.date %>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            
  
    </div>

</body>

</html>